<div>
    <p class="info">Build Date: April 30, 2021 IDB</p>

    
    <img class="logo" src="../../assets/img/logo.jpg">
   
    <hr>
    <div class="login card">
        <div class="card-body">
            <br>
        </div>
        <div class="card-body"> 
            <label for="username">USERNAME</label>
            <br>
            <input type="text" name="username" id="username" placeholder="Username" />    
        </div>

        <div class="card-body">
            <label for="password">PASSWORD</label>
            <br>
            <input type="password" name="password" id="password" placeholder="Password" />
        </div>
        
        <div class="card-body"> 
            <button (click)="goToMain()" class="btn">ENTER</button>
        </div>
        
    </div>

    <hr>
    <p class="version">1.0</p>
</div>
