<div class="nav">
    <ul>
        <li><a>TOGGLE POLLOG/SALES BATCH</a></li>
        <li><a>TOGGLE CONSOLIDATE POS POLLOG</a></li>
        <li><a>IMPORT TO COUCH</a></li>
        <li><a>EXPORT TO COUCH</a></li>
        <li><a>PRICE LOOKUP</a></li>
        <li><a>VIEW RECEIPT</a></li>
        <li><a>TAKEOUT</a></li>
        <li><a>X-REPORT</a></li>
        <li><a>RE-ENABLE LOGIN</a></li>
        <li><a>RESET PASSWORD</a></li>
        <li><a>TOTAL SALES AND MEDIA REPORT</a></li>
        <li><a>CONSOLIDATED Z-REPORT</a></li>
        <li><a routerLink="/">LOGOUT</a></li>
    </ul>
</div>
